p {color: rgb(170, 225, 81); font-size: larger; background-color: rgb(76, 39, 80);}
html {font-family: "Saira Stencil", sans-serif; background: yellowgreen;  
    background-color: rgb(17, 95, 95); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

img {width: 300px}

#Furina {color: aquamarine;}

#Phainon {color: rgb(129, 160, 245);}

#Miyabi {color: rgb(162, 235, 247);}

#Chisa {color: rgb(226, 75, 75);}

#Tangtang {color: rgb(4, 152, 168);}